<!DOCTYPE html>
<html lang="ro">
  <link rel="icon" href="https://webprojectrdv.s3.amazonaws.com/favicon.png">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../public/css/landingPage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jura:wght@300&display=swap"
      rel="stylesheet"
    />
    <script src="../../public/scripts/protectedRouteLoginScript.js"></script>
    <title>Wind Turbine Management</title>
  </head>
  <body>
    <div id="sidebar">
      <div id="menu">
        <p id="title1">
          Wind
          <span id="title2">Turbine Management</span>
        </p>
        <p id="moto">Spin for efficiency</p>
        <button class="auth" onclick="location.href='/pages/doc'">
          Get Started
        </button>
        <button class="auth" onclick="location.href='/pages/login'">Login</button>
      </div>
    </div>
  </body>
</html>
