<!DOCTYPE html>
<html lang="ro">
  <% var dir = process.cwd() %>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="../../public/scripts/protectedRouteScript.js"></script>
    <link rel="icon" href="https://webprojectrdv.s3.amazonaws.com/favicon.png">
    <link rel="stylesheet" href="../../public/css/publicPageStyle.css">
    <link rel="stylesheet" href="../../public/css/navBarStyle.css">
    <link rel="stylesheet" href="../../public/css/filtersStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jura:wght@300&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../../public/scripts/chartCreation.js"></script>
    <title>Public turbines</title>
  </head>
  <body onload='setSpinnersAttributes(<%- JSON.stringify(turbines) %>)'>
    <%- include(dir + "/views/partials/navBar") %> <%- include(dir +
    "/views/partials/filters",{companies, queryObject, isPublic:true}) %>

    <% if(turbines.length > 0){ %>
      <div class="turbines">
        <% for(turbine of turbines) {%> <%- include(dir +
        "/views/partials/publicTurbine", {turbine:turbine,
        chart:chartData[turbine.turbineData._id + 'chart'], userId:userId}) %> <%
        } %>
      </div>
    <% } else{ %>  
      <div class="no-turbines"><p>There are no public turbines available for viewing</p></div>
    <% } %>

    <script src="../../public/scripts/publicownedPageScript.js"></script>
    <script src="../../public/scripts/purchaseScript.js"></script>
    <p>
      <a href="http://jigsaw.w3.org/css-validator/check/referer">
        <img
          style="border: 0; width: 88px; height: 31px"
          src="http://jigsaw.w3.org/css-validator/images/vcss-blue"
          alt="CSS valid!"
        />
      </a>
    </p>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"
    ></script>
    <script type="text/javascript">
      (function () {
        emailjs.init("oFxLMQuGnXvPyjFgu");
      })();
    </script>
  </body>
</html>
