<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="../../public/css/loginStyle.css">
  <link rel="icon" href="https://webprojectrdv.s3.amazonaws.com/favicon.png">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Jura:wght@300&display=swap"
    rel="stylesheet"
  />
  <script src="../../public/scripts/protectedRouteLoginScript.js"></script>
  <head>
    <title>Log in</title>
  </head>

  <body>
    <p id="title1">
      Wind
      <span id="title2">Turbine Management</span>
    </p>
    <form class="login" id="form">
      <label aria-hidden="true">Reset Password</label>
      <input type="email" id="email" name="email" placeholder="Email" />

      <button id="log" class="bottomButtons" onclick="sendEmail()">Done</button>
      <p id="errormessage"></p>
    </form>
    <script src="../../public/scripts/resetPassScript.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"
    ></script>
    <script type="text/javascript">
      (function () {
        emailjs.init("oFxLMQuGnXvPyjFgu");
      })();
    </script>
  </body>
</html>
