<form>
  <div class="filters">
    <div class="filter">
      <p class="filtersSearch" style="font-size: 35px; margin-bottom: 10px">
        Filters
      </p>
      <input
        class="searchbar"
        type="text"
        placeholder="Search..."
        name="name"
        id="name"
      />
    </div>
    <div class="filter">
      <p class="filtersText">Condition</p>
      <select id="state" class="filterBox" name="state">
        <option selected>Any</option>
        <option>Running</option>
        <option>Stopped</option>
        <option>Maintenance</option>
      </select>
    </div>

    <% if(isPublic){ %>
    <div class="filter">
      <p class="filtersText">Company</p>
      <select id="company" class="filterBox" name="company">
        <option selected>Any Company</option>
        <% for(company of companies) {%>
        <option><%= company %></option>
        <% } %>
      </select>
    </div>
    <% } %>

    <div class="filter">
      <p class="filtersText">Construction Year</p>
      <div class="filterAni">
        <p>From</p>
        <input
          type="number"
          placeholder="Start year"
          class="an"
          id="yearGTE"
          name="yearGTE"
        />
        <p>To</p>
        <input
          type="number"
          placeholder="End year"
          class="an"
          id="yearLTE"
          name="yearLTE"
        />
      </div>
    </div>
    <label for="applyFilter"></label>
    <input type="submit" value="Apply Filters" id="applyFilter" />
    <input type="button" value="Reset Filters" id="reset" />
  </div>
</form>
<script type="text/javascript">
  document.getElementById("reset").onclick = function () {
     if(window.location.href.search('owned') != -1)
        {location.href = "http://localhost:5001/pages/owned"}
     else {location.href = "http://localhost:5001/pages/public"}
  };
</script>
