<div class="map-wrapper">
    <div class="map-header">
        <p>Map with all turbines' locations</p>
        <img src=https://webprojectrdv.s3.amazonaws.com/down.png onclick="expand(this)">
    </div>
    <div id="map-content">
        <div id="map">aaa</div>    
    </div>
</div>